---
import Layout from "../components/layout.astro";
---

<Layout pageTitle="Acerca de nosotros">
    <h1>Acerca de mi Web</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid modi perspiciatis error nostrum ex, eveniet omnis possimus labore dolorum qui.</p>
</Layout>

