---
const title = 'Proyecto Astro!!!';
---

<h1 class="title">{title}</h1>

<script>
	console.log('Hola Mundo!');
</script>

<style>
	body {
		background-color: #202020;
		color: white;
	}
	.title {
		color: skyblue;
	}
</style>