---
import Card from "../components/card.astro";
import Layout from "../components/layout.astro";
---

---
<Layout pageTitle="Mis Servicios">
  <h1>Acerca de mi Web</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reiciendis
    pariatur sequi vero velit facere exercitationem eum soluta error minima,
    animi maiores quae doloribus quam consequuntur saepe dolor dicta deserunt.
  </p>

  <Card title="Servicio 1" content="Contenido uno" />
  <Card title="Servicio 2" content="Contenido dos" />
  <Card title="Servicio 3 Ñ ñ" content="Contenido tres" />
  <Card title="Servicio 4" content="Contenido cuatro" />
  <Card />
  <Card />
</Layout>
